*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 1140px;
    margin: 0 auto;
}

.promo{
    height: 800px;
    background: url(../img/bg/header-bg.jpg) center center/cover no-repeat;
    padding: 39px 0 62px 0;
}

.logo .logo_img{
    display: block;
    margin: 0 auto;
}

.logo .logo_text{
    font-family: "Roboto";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
    margin-top: 14px;
}

h1{
    margin-top: 53px;
}

.title{
    font-family: Roboto;
    font-size: 41px;
    font-weight: 900;
    line-height: 0.7;
    text-align: center;
    color: #f9bf3b;
    text-transform: uppercase;
}

h2.title{
    margin-top: 30px;
}

.simple .title_big{
    font-family: Roboto;
    font-size: 80px;
    font-weight: 900;
    line-height: 0.7;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 21px;

}

.promo .promo_text{
    padding: 0 13px;
    margin-top: 23px;
    font-family: Roboto;
    font-size: 21px;
    font-weight: 300;
    line-height: 1.33;
    text-align: center;
    color: #ffffff;
}

.promo .promo_text span{
    font-weight: bold;
    color: #f9bf3b;
}

.promo .promo_btn{
    display: block;
    margin: 73px auto;
    width: 313px;
    height: 72px;
    box-shadow: inset 0px 0 0 0 rgba(0, 0, 0, 0.18);
    border: solid 4px rgba(0, 0, 0, 0.23);
    background-image: linear-gradient(to top, #2798b9 0%, #3ab6da 100%);

    text-shadow: -0.7px -0.7px 0 rgba(0, 0, 0, 0.22);
    font-family: Roboto;
    font-size: 21px;
    line-height: 1.14;
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.more{
    margin-top: 73px;
}

.more .more_text{
    font-family: Roboto;
    font-size: 15px;
    font-weight: 100;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}

.more .more_img{
    display: block;
    margin: 0 auto;
    margin-top: 13px;
}

.waiting{
    height: 604px;
    background-color: #efefef;
    padding: 85px 0 75px 0;
}

.waiting .waiting_header{
    font-family: Roboto;
    font-size: 30px;
    line-height: 0.7;
    text-align: center;
    color: #252525;
    text-transform: uppercase;
}

.waiting .waiting_divider{
    width: 217px;
    height: 4px;
    background-color: #f9bf3b;
    margin: 0 auto;
    margin-top: 18px;
}

.waiting .waiting_subheader{
    font-family: Roboto;
    font-size: 23px;
    line-height: 0.7;
    text-align: center;
    color: #4a4a4a;
    margin-top: 17px;
}

.waiting .waiting_wrapper{
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
}

.waiting .waiting_wrapper .waiting_item{
    width: 339px;
    text-align: center;
}

.waiting .waiting_wrapper .waiting_item .waiting_img{
    width: 100%;
}

.waiting .waiting_wrapper .waiting_item .waiting_descr{
    font-family: Roboto;
    margin-top: 33px;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.4;
    color: #4a4a4a;
}